<div class="form-header">
  <h2>Code generator</h2>
</div>
<form method="post" action="/generateCode" novalidate>
  <div class="form-field">
    <label for="placeholderCode">Placeholder Code</label>
    <textarea class="input" id="placeholderCode" name="placeholderCode" rows="25" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="screenCode">Screen Code</label>
    <input class="input" id="screenCode" name="screenCode" type="screenCode" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>